[Unit]
Description=Customize Mariadb on first start
ConditionPathExists=!/etc/customize_mariadb_done
Requires=mariadb.service
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/bin/bash -x /sbin/customize_mariadb.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
